.navbar-nav {
    flex-direction: row;
}

a.logo {
    font-family: 'Permanent Marker', 'cursive';
    color: orange
}

a.logo:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', 'sans-serif';
    margin-top: 5px;
}

.card-block {
    margin-top: auto;
}

.card-padding {

}