.navbar-nav {
    flex-direction: row;
}

a.logo {
    font-family: 'Permanent Marker', 'cursive';
    color: orange
}

a.logo:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', 'sans-serif';
    margin-top: 5px;
}

.card-block {
    margin-top: auto;
}

.card-padding {

}

.tags-badge {
    glyph-orientation-horizontal: center;
}

.home-boxes {
    max-width: 75%;
}

.row.home-boxes {
    display: block;
    margin: 0 auto;
}

.board-headings {
    padding-top: 15px;
    text-align: left;
}

.board-subheadings {
    padding-top: 10px;
}

.media {
    border: 2px solid black;
}