

a.logo {
    font-family: 'Permanent Marker', 'cursive';
    color: orange
}

a.logo:hover {
    text-decoration: none;
}

.board-headings {
    padding-top: 15px;
    text-align: left;
}

.board-subheadings {
    padding-top: 10px;
}

.card-block {
    margin-top: auto;
}

.card-padding {

}

h1 {
    font-family: 'Oswald', 'sans-serif';
    margin-top: 5px;
}

.tags-badge {
    glyph-orientation-horizontal: center;
}

.home-boxes {
    /*max-width: 75%;*/
}

.thread-score {
    padding-left: 10px;
    padding-right: 10px;

}

.post-container {
    max-width: 80%;
}

.row.home-boxes {
    display: block;
    margin: 0 auto;
}



.media {
    border: 2px solid black;
}

@media (min-width:600px) { .home-boxes { max-width: 75% !important;} }

.navbar-nav {
    flex-direction: row;
}